#*cache.*
#*.*bak
#fp-info-cache

# Not sure where/when the following images were use,
# so I will not put them under source control, I'll keep'em around for a while
releases/saved_images


*.xml


# KiCad autosave & backups
_autosave-*
*.*bak
*.bck

# KiCad generated/cache files
fp-info-cache
*-cache.lib
*.net
*.erc

# Temporary / scratch
scratch/

# Archives (optional)
*.zip
